/**
** media query
**/

@mixin big-screen{
  @media (max-width: $big-screen){
    @content
  }
}


@mixin circle($width){
  width: $width;
  height: $width;
  border-radius: 100%;

}

@mixin absolute-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}