.wrap{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.content{
  max-width: 445px;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 85px;
  padding-top: 45px;  
}

.insidePage{
  background-color: $color-primary;
  color: $color-light;
  height: 100vh;

  .container{
    display: flex;
    position: relative;
    height: 100%;
    overflow-y: hidden;
  }

  .navbar{
    width: 40%;
    font-size: $font-big;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    &__item{
      opacity: 0.2;
      &:not(:first-child){
        margin-top: 42px;
      }
      &--active{
        color: $color-danger;
        opacity: 1;
      }
    }
    i{
      margin-right: 8px;
    }
  }

  .mainRow{
    width: 50%;
  }
}

.h3{
  color: $color-light;
  background-color: rgba($color-light,0.2);
  font-size: $font-medium;
  font-weight: bold;
  padding: 10px 16px;
  letter-spacing: 2px;
  display: flex;

  i{
    margin-left: auto;
  }

  .dateSection{
    margin-left: auto;
    font-size: $font-base;
    display: flex;
    align-items: center;
    cursor: pointer;
    i:first-child{
      margin-right: 8px;
    }
    i{
      margin-left: 8px;
    }
  }
}

.close{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;

  a:hover{
    color: lighten($color: $color-danger, $amount: 20);
  }

  .sign{
    writing-mode: vertical-lr;
    font-size: $font-medium;
    font-weight: bold;
    margin-bottom: 48px;
    cursor: none;
  }
}