mixin nav_active(href)
  if(pageUrl == href)


nav.navbar
  a(href="todolist.html").navbar__item.navbar__item--active
    i.material-icons.md-36 list
    | TO-DO LIST
  a(href="#").navbar__item
    i.material-icons.md-36 insert_chart
    | ANALYTICS
  a(href="#").navbar__item
    i.material-icons.md-36 library_music
    | RINGTONES