.p-index{
  &--workMode{
    .p-index__main{
      background-color: $color-warning;
      .playCircle{
        border: 4px solid $color-danger;
        &__inner{
          background-color: $color-danger;
        }
      }
      .countdownList{
        &__item{
          &__timer{
            color: $color-danger;
          }
        }
        &__more{
          color: $color-danger;
        }
      }
    }
  }
  &--breakMode{
    .p-index__main{
      background-color: $color-secondary;
      .playCircle{
        border: 4px solid $color-success;
        &__inner{
          background-color: $color-success;
        }
      }
      .countdownList{
        &__item{
          &__timer{
            color: $color-success;
          }
        }
        &__more{
          color: $color-success;
        }
      }
    }
  }
}

.p-index__main{
  width: 65%;
  // background-color: $color-warning;
  color: $color-primary;
  position: relative;

  .playCircle{
    @include circle(540px);
    // border: 4px solid $color-danger;
    position: absolute;
    right: 0px;
    top: 130px;
    transform: translateX(50%);
    z-index: 2;
    &__inner{
      // background-color: $color-danger;
      @include circle(500px);
      @include absolute-center;
    }
    i{
      @include absolute-center;
      font-size: 100px;
      color: white;
      cursor: pointer;
      user-select: none;
      // animation: change_playCircle_size 1s infinite ease-in-out;

      &:hover{
        // border: 2px solid $color-primary;
        // border-radius: 100%;
        animation: change_playCircle_size 1s infinite ease-in-out;
      }
    }
    .square{
      width: 12px;
      height: 12px;
      background-color: $color-light;
      position: absolute;
      left: calc(50% + 60px);
      top: calc(50% + 27px);
      cursor: pointer;
    }
  }
  .container{
    max-width: 830px;
    margin: 48px 0 48px auto;
    padding-left: 85px;
  }
  // .countdownList{
  //   margin-top: 30px;
  //   &__item{
  //     border-bottom: 1px solid rgb(141, 141, 141);
  //     padding: 12px 0;
  //     cursor: pointer;
  //     &--active{
  //       border-bottom: none;
  //       padding: 0;
  //       margin-top: 145px;
  //       cursor: default;
  //       &:not(:first-child){
  //         margin-top: 40px;
  //         border-bottom: 1px solid rgb(139, 139, 139);
  //       }
  //       .countdownList__item{
  //         &__title{
  //           align-items: flex-start;
  //           span{
  //             font-size: $font-medium;
  //             margin-left: 16px;
  //             margin-top: 6px;
  //           }
  //         }
  //       }
  //     }
  //     &__title{
  //       display: flex;
  //       align-items: center;
  //       span{
  //         font-weight: bold;
  //         margin-left: 4px;
          
  //       }
  //       &__playCircleIcon{
  //         margin-left: auto;
  //       }
  //     }
  //     &__timer{
  //       font-size: 182px;
  //       // color: $color-danger;
  //       font-weight: bold;
  //       margin-top: 30px;
  //       margin-bottom: 110px;
  //     }
  //   }
  //   &__more{
  //     padding: 12px 0;
  //     // color: $color-danger;
  //     font-weight: bold;
  //     text-align: right;
  //   }
  // }
}
.p-index__menu{
  width: 35%;
  background-color: $color-primary;
  color: $color-light;
  // position: relative;
  .container{
    max-width: 450px;
    margin: 48px auto 48px 0;
    padding-right: 85px;
    height: calc(100% - 48px - 48px);
    position: relative;
  }
  nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    a{
      margin-bottom: 48px;
      &:hover{
        color: $color-danger;
      }
    }
  }
  .sign{
    margin-left: auto;
    writing-mode: vertical-lr;
    font-size: $font-medium;
    font-weight: bold;
    position: absolute;
    bottom: 48px;
    right: 85px;
  }
}

.todoList{
  margin-top: 30px;
  &__item{
    border-bottom: 2px solid rgba($color-primary, 0.2);
    padding: 12px 0;
    cursor: pointer;
    &--active{
      border-bottom: none;
      padding: 0;
      margin-top: 145px;
      cursor: default;
      &:not(:first-child){
        margin-top: 40px;
        border-bottom: 2px solid rgba($color-light, 0.2);
      }
      .todoList__item{
        &__title{
          align-items: flex-start;
          label{
            align-items: flex-start;
          }
          span{
            font-size: $font-medium;
            margin-left: 16px;
            margin-top: 6px;
          }
        }
      }
    }
    &__title{
      display: flex;
      align-items: center;
      position: relative;
      label{
        display: flex;
        align-items: center;
        cursor: pointer;
        input{
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
        }
        .checked{
          display: none;
          color: $color-danger;
        }
        &:hover{
          span{
            text-decoration: line-through;
            text-decoration-color: $color-danger;
          }
          .uncheck{
            display: none;
          }
          .checked{
            display: block;
          }
        }
      }
      span{
        font-weight: bold;
        margin-left: 4px;
      }
      &__playCircleIcon{
        margin-left: auto;
        transition: 0.3s;
        &:hover{
          color: $color-danger;
          font-size: 30px;
        }
      }
    }
    &__timer{
      font-size: 182px;
      // color: $color-danger;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 110px;
    }
  }
  &__more{
    padding: 12px 0;
    color: $color-danger;
    font-weight: bold;
    text-align: right;
  }
}

@keyframes change_playCircle_size{
  0% {
    font-size: 100px;
  }
  20% {
    font-size: 120px;
  }
  40% {
    font-size: 100px;
  }
  60% {
    font-size: 120px;
  }
  80%{
    font-size: 100px;
  }
}