.card{
  color: $color-primary;
  &__img{
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 315px;
    position: relative;
    &:first-child{
      background-image: url('https://bit.ly/2zBjQuq');
    }
    &:nth-child(2){
      background-image: url('https://bit.ly/2QvsT63');
    }
    &:nth-child(3){
      background-image: url('https://bit.ly/2zKOP7w');
    }
    &__recommand{
      writing-mode: vertical-lr;
      color: $color-secondary;
      background-color: $color-primary;
      padding: 15px 10px;
      letter-spacing: 5px;
      margin-left: 20px;
    }
    &__heart{
      position: absolute;
      top: 19px;
      right: 22px;
      cursor: pointer;
    }
  }
  &__info{
    display: flex;
    font-size: $font-big;
    padding: 13px;
    &__title{
      width: 60%;
      text-align: center;
    }
    &__price{
      width: 40%;
      font-weight: bold;
      text-align: center;
    }
  }
  &__btn{
    font-size: $font-large;
    font-weight: bold;
    padding: 16px 0;
  }
}