.countdownTimer{
  position: absolute;
  @include circle(350px);
  background-color: $color-warning;
  color: $color-primary;
  bottom: calc(350px / 2 * -1);
  font-weight: bold;
  // transform: translateY(-50%);

  &__playCircle{
    @include circle(116px);
    border: 6px solid $color-primary;
    background-color: $color-danger;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%,-50%);
    cursor: pointer;
    &__innerCircle{
      @include circle(100px);
      border: 6px solid $color-primary;
      background-color: $color-danger;
      @include absolute-center;
    }
    i{
      font-size: 60px;
      color: $color-light;
      @include absolute-center;
    }
  }
  &__timer{
    font-size: 60px;
    color: $color-danger;
    text-align: center;
    margin-top: 65px;
  }
  &__description{
    text-align: center;
    margin-top: 8px;
    
  }
}