extends _layout.jade

block meta
  - var title="ringtones"
  include partials/_meta.jade

block content
  .p-ringtones.insidePage
    .container
      .countdownTimer
        .countdownTimer__playCircle
          .countdownTimer__playCircle__innerCircle
          i.material-icons play_arrow
        .countdownTimer__timer 25:00
        .countdownTimer__description THE FIRST THING TO DO TODAY
      nav.navbar
        a(href="todolist.html").navbar__item
          i.material-icons.md-36 list
          | TO-DO LIST
        a(href="analytics.html").navbar__item
          i.material-icons.md-36 insert_chart
          | ANALYTICS
        a(href="ringtones.html").navbar__item.navbar__item--active
          i.material-icons.md-36 library_music
          | RINGTONES
      .mainRow
        .content
          h3.h3 WORK
          .radioList
            label.radioList__item
              input(type="radio", name="workRingtones",checked="checked")
              i.material-icons.radioList__item__uncheck radio_button_unchecked
              i.material-icons.radioList__item__checked radio_button_checked
              span NONE
            label.radioList__item
              input(type="radio", name="workRingtones")
              i.material-icons.radioList__item__uncheck radio_button_unchecked
              i.material-icons.radioList__item__checked radio_button_checked
              span DEFAULT
            label.radioList__item
              input(type="radio", name="workRingtones")
              i.material-icons.radioList__item__uncheck radio_button_unchecked
              i.material-icons.radioList__item__checked radio_button_checked
              span ALARM
            label.radioList__item
              input(type="radio", name="workRingtones")
              i.material-icons.radioList__item__uncheck radio_button_unchecked
              i.material-icons.radioList__item__checked radio_button_checked
              span ALERT

          h3.h3 BREAK
          .radioList
            label.radioList__item
              input(type="radio", name="breakRingtones",checked="checked")
              i.material-icons.radioList__item__uncheck radio_button_unchecked
              i.material-icons.radioList__item__checked radio_button_checked
              span NONE
            label.radioList__item
              input(type="radio", name="breakRingtones")
              i.material-icons.radioList__item__uncheck radio_button_unchecked
              i.material-icons.radioList__item__checked radio_button_checked
              span DEFAULT
            label.radioList__item
              input(type="radio", name="breakRingtones")
              i.material-icons.radioList__item__uncheck radio_button_unchecked
              i.material-icons.radioList__item__checked radio_button_checked
              span ALARM
            label.radioList__item
              input(type="radio", name="breakRingtones")
              i.material-icons.radioList__item__uncheck radio_button_unchecked
              i.material-icons.radioList__item__checked radio_button_checked
              span ALERT

      .close
        a(href="index.html")
          i.material-icons.md-48 clear
        .sign POMODORO

